{% macro sastAlerts(criticality, breakline = false) %}
{% if scanning.results.open.scans[criticality] %}
<div class="col mb-4">
  <div class="card">
    <div class="card-header">
      <h5 class="float-left">{{ criticality | title }}</h5>
      <h5><span class="badge badge-light float-right">{{ scanning.results.open.scans[criticality] | length }}</span>
      </h5>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Rule</th>
          <th scope="col">Found on</th>
          <th scope="col">Discovered by</th>
        </tr>
      </thead>
      <tbody>
        {% for alert in scanning.results.open.scans[criticality] %}
        <tr>
          <td><a href="{{ alert.url }}">{{ alert.name }}</a></td>
          <td>{{ alert.created }}</td>
          <td>{{ alert.tool }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% for alert in scanning.results.open.scans[criticality] %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ alert.rule.details.name }}</h5>
        <p class="card-text">
        <p>Location: {{ alert.instance.location.path }}:{{alert.instance.location.startLine}} </p>
        <p>Commit SHA: {{ alert.instance.commitSHA }} </p>
        <p>Message: {{ alert.instance.message }} </p>
        <p>Description: {{ alert.rule.details.description }}</p>
        <p>Precision: {{ alert.rule.details.precision }}</p>
        <p>Severity: {{ alert.rule.details.severity }}</p>
        <span class="badge badge-secondary">{{ alert.rule.details.cwes }}</span>
        {{ markdownR(alert.rule.details.sarifRule.help.markdown ) | safe }}
        </p>
      </div>
    </div>



    {% endfor %}
    </tbody>
    </table>
  </div>
</div>
{% if breakline %}
<div style="page-break-before:always">&nbsp;</div>
{% endif %}

{% endif %}
{% endmacro %}
{% macro markdownR(markdownContent) %}
{% markdown %}
{{ markdownContent }}
{% endmarkdown %}
{% endmacro %}

<div class="col mb-4">
  <div class="row">
    <div class="col">
      <h2 class="section-header border-bottom">Open Vulnerabilities</h2>
    </div>
  </div>
</div>
{{ sastAlerts('critical', breakline=true) }}
{{ sastAlerts('high', breakline=true) }}
{{ sastAlerts('medium', breakline=true) }}
{{ sastAlerts('low', breakline=true) }}
{{ sastAlerts('error', breakline=true) }}
{{ sastAlerts('warning', breakline=true) }}
{{ sastAlerts('note') }}


{% macro sastClosedAlerts(criticality, breakline = false) %}
{% if scanning.results.closed.scans[criticality] %}
<div class="col mb-4">
  <div class="card">
    <div class="card-header">
      <h5 class="float-left">{{ criticality | title }}</h5>
      <h5><span class="badge badge-light float-right">{{ scanning.results.closed.scans[criticality] | length }}</span>
      </h5>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Rule</th>
          <th scope="col">Found on</th>
          <th scope="col">Discovered by</th>
          <th scope="col">Dismissed by</th>
          <th scope="col">Dismissed at</th>
          <th scope="col">Dismissed reason</th>
        </tr>
      </thead>
      <tbody>
        {% for alert in scanning.results.closed.scans[criticality] %}
        <tr>
          <td><a href="{{ alert.url }}">{{ alert.name }}</a></td>
          <td>{{ alert.created }}</td>
          <td>{{ alert.tool }}</td>
          <td>{{ alert.dismissedBy }}</td>
          <td>{{ alert.dismissedAt }}</td>
          <td>{{ alert.dismissedReason }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% if breakline %}
<div style="page-break-before:always">&nbsp;</div>
{% endif %}

{% endif %}
{% endmacro %}

<div class="col mb-4">
  <div class="row">
    <div class="col">
      <h2 class="section-header border-bottom">Dispositioned Vulnerabilities</h2>
    </div>
  </div>
</div>
{{ sastClosedAlerts('critical', breakline=true) }}
{{ sastClosedAlerts('high', breakline=true) }}
{{ sastClosedAlerts('medium', breakline=true) }}
{{ sastClosedAlerts('low', breakline=true) }}
{{ sastClosedAlerts('error', breakline=true) }}
{{ sastClosedAlerts('warning', breakline=true) }}
{{ sastClosedAlerts('note') }}