name: Manual Test Repository

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      security-events:	read

    steps:

      - name: Harden Runner
        uses: step-security/harden-runner@eb238b55efaa70779f274895e782ed17c84f2895 # v2.6.1
        with:
          egress-policy: audit

      - name: Checkout Sources
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Invoke Action
        uses: ./
        with:
          token: ${{ github.token }}
          sarifReportDir: ./samples/sarif/java/detailed
          outputDir: .
          repository: octodemo/ghas-reporting

      - name: Upload Artifacts
        uses: actions/upload-artifact@c7d193f32edcb7bfad88892161225aeda64e9392 # v4.0.0
        with:
          name: reports
          path: ./*.pdf
